<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="~{base::Layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>
		Insert title here
	</title>
</head>

<body>
	<section>
		<!--start slider-->
		<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/home1.jpg" class="d-block w-100 p-5" alt="..." height="700px">
				</div>
				<div class="carousel-item">
					<img src="img/home2.png" class="d-block w-100 p-5" alt="...">
				</div>
				<div class="carousel-item">
					<img src="img/home3.jpg" class="d-block w-100 p-5" alt="..." height="700px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<!--end slider-->
		<!-- start category Module-->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-centre">
							<img src="img/category/electronics1.png" width="100%" height="100px">
							<p style="text-align: center;">Electronics</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-centre">
							<img src="img/category/electronics1.png" width="100%" height="100px">
							<p style="text-align: center;">Beauty</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-centre">
							<img src="img/category/electronics1.png" width="100%" height="100px">
							<p style="text-align: center;">Clothes</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-centre">
							<img src="img/category/electronics1.png" width="100%" height="100px">
							<p style="text-align: center;">Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-centre">
							<img src="img/category/electronics1.png" width="100%" height="100px">
							<p style="text-align: center;">Mobile</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-centre">
							<img src="img/category/electronics1.png" width="100%" height="100px">
							<p style="text-align: center;">Grocery</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end  category Module-->
		<!--Start latest Product MOdule-->
		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Product </p>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/category/electronics1.png" width="%" height="100px">
							<p class="text-center"> HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/category/electronics1.png" width="%" height="100px">
							<p class="text-center"> HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/category/electronics1.png" width="%" height="100px">
							<p class="text-center"> HP Laptop</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card">
						<div class="card-body text-center">
							<img src="img/category/electronics1.png" width="%" height="100px">
							<p class="text-center"> HP Laptop</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!--End latest Product MOdule-->

	</section>


</body>

</html>